.nav_logo_right {
  width: 30px;
  padding: 0 10px;
}

.nav_right_link_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  color: #f4a245;
  text-decoration: none;
}
.nav_city_container {
  display: flex;
  flex-direction: column;
  align-items: end;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.nav_right_link_container:hover {
  text-decoration: underline;
}

.nav_phone_container {
  font-size: 22px;
  font-weight: 600;
}
.middle_nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
}
.nav_container a {
  color: #474747;
}

.nav_link_item a {
  color: #344266;
  text-decoration: none;
}
.nav_bar {
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 80px;
}

.nav_links_list {
  display: flex;
  gap: 24px;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav_item {
  position: relative;
}
.nav_item a {
  text-decoration: none;
}

.nav_item_label {
  cursor: pointer;
  font-weight: 500;
  color: white;
}
.emergency_container a {
  color: white;
}
.emergency_container {
  background: radial-gradient(circle at 80% 200%, #cb000a 20%, #091f57 80%);
  width: 100vw;
  text-align: end;
  padding: 3px 10px;
  margin-right: 50px;
}
.nav_item:hover .nav_dropdown {
  opacity: 1;
}

.nav_link_item {
  padding: 8px 16px;
  white-space: nowrap;
  transition: background-color 0.2s ease;
}

.nav_link_item:hover {
  background-color: #afafaf;
}
.nav_item {
  position: static;
  margin: 15px 5px;
}

.nav_dropdown {
  position: absolute;
  top: 325px;
  left: 0;
  display: flex;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  background-color: rgb(255, 255, 255);
  color: #171718;
  border-radius: 0;
  z-index: 999;
  width: 100vw;
  height: 350px;
  padding: 20px 20px;
}

.nav_item:hover .nav_dropdown {
  opacity: 1;
  pointer-events: auto;
}

.nav_dropdown a {
  color: #a4a4bd;
  font-size: 18px;
}

.nav_link_item {
  display: flex;
  width: 100%;
  padding: 15px 10px;
  white-space: nowrap;
  font-weight: 500;
  font-size: 1.25em;
  color: #8d8dbb;
  transition: background 0.2s ease;
}

.nav_link_item:hover {
  background-color: #d8d8d8;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: GothamProMedium;
  width: 100vw;
  background-color: white;
  border-bottom: 1px solid rgba(197, 195, 195, 0.199);
}
.nav_bar ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  margin-right: 1.5vw;
}
.nav_logo {
  margin-top: -0px;
  margin-left: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
  text-shadow: 0px 0px 4px black;
  cursor: default;
}
